
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    color: #333;
}

.header {
    background-color: #0d47a1;
    color: white;
    padding: 20px 0;
    text-align: center;
}

.menu {
    display: flex;
    justify-content: center;
}

.menu-btn {
    color: white;
    text-decoration: none;
    font-weight: bold;
    padding: 8px 16px;
    border-radius: 5px;
    background-color: #1565c0;
    transition: background-color 0.3s ease;
    margin-left: 20px;
}

.menu-btn:hover {
    background-color: #0d47a1;
}

.contenedor{
    justify-content: center;
    display: flex;
    align-items: center;
    flex-direction: row-reverse;
}


.contenedor-logo{
    align-items: center;
    position: absolute;
    left: 20px;
    top: 25px;
}

.logo {
    width: 120px;
    height: 55px;
}


.header-container {
    display: flex;
    align-items: center;
    justify-content: space-between; 
    width: 90%;
    margin: auto;
}

body {
    font-family: Arial, sans-serif;
    background-color: #f4f6f9;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh; 
}

.form-card {
    background: #fff;
    padding: 30px 40px;
    border-radius: 12px;
    box-shadow: 0px 6px 18px rgba(0, 0, 0, 0.15);
    width: 400px;
    max-width: 90%;
}

.form-card h2 {
    text-align: center;
    margin-bottom: 20px;
    color: #333;
}

form {
    display: flex;
    flex-direction: column; 
}

label {
    font-weight: bold;
    color: #444;
    margin-bottom: 5px;
}

input, select {
     width: 100%;
    padding: 10px;
    margin-bottom: 15px;
    border: 1px solid #ccc;
    border-radius: 8px;
    font-size: 15px;
}

input:focus, select:focus {
    border-color: #007bff;
    outline: none;
    box-shadow: 0 0 5px rgba(0,123,255,0.5);
}

button {
    width: 100%;
    background-color: #007bff;
    color: white;
    border: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    cursor: pointer;
    transition: all 0.3s ease;
}

button:hover {
    background-color: #0056b3;
    transform: scale(1.03);
}

.btn-cancelar {
    display: block;
    text-align: center;
    margin-top: 10px;
    background-color: #6c757d; 
    color: white;
    text-decoration: none;
    padding: 12px;
    border-radius: 8px;
    font-size: 16px;
    font-weight: bold;
    transition: all 0.3s ease;
}

.btn-cancelar:hover {
    background-color: #5a6268;
    transform: scale(1.03);
}




